<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HydroHealth Home</title>
    <link href="static/styles/stylesheet.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" rel="stylesheet">
</head>
<body>
    <section id="nav-bar">
          <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand"><img src="static/styles/images/logo.jpg" height="50"></a>
              <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" >
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#top">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/datades">Data</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </section>
    <!-----------------------Content----------------->
<section id = "ABOUT">
    <div class ="container text-center">
      <h1 class="title">Water Quality</h1>
      <div class="para row text-center">
        <p>Access to safe drinking-water is essential to health, a basic human right and a component of effective policy for health protection. This is important as a health and development issue at a national, regional and local level. In some regions, it has been shown that investments in water supply and sanitation can yield a net economic benefit, since the reductions in adverse health effects and health care costs outweigh the costs of undertaking the interventions.</p>
      </div>
    </div>
  
    <div class="aboutusmenu text-center"><h3 class="title text-center">About Us</h3><p class="aboutpara">
        Welcome to Hydro Health, your trusted partner in ensuring access to safe and clean drinking water. At Hydro Health, we are dedicated to promoting products and solutions that predict and uplift the quality of water, empowering individuals and communities to lead healthier lives.
        
        Our mission is simple yet profound: to provide innovative water quality solutions that make a positive impact on human health and the environment. We understand the critical importance of water in sustaining life and recognize the profound impact that safe drinking water has on individual well-being and societal development.
        
        With a team of passionate experts and cutting-edge technology, Hydro Health is committed to advancing the frontiers of water quality management. We leverage state-of-the-art predictive analytics and monitoring tools to assess and mitigate potential risks to water safety, ensuring that every drop meets the highest standards of purity and cleanliness.
        
        But our commitment goes beyond mere products and services. At Hydro Health, we believe in fostering a culture of awareness and responsibility when it comes to water resources. Through education, advocacy, and community engagement, we strive to raise awareness about the importance of water conservation and sustainable practices.
        
        Whether you're a homeowner, a community leader, or a policymaker, Hydro Health is here to support you on your journey towards safer, healthier water. Join us as we work together to create a world where everyone has access to the clean and refreshing water they deserve.
        
        Hydro Health - For a Future of Hydration, Health, and Happiness.</p></div>
  </div></div>
       
  </div>
  </div>